In [2]:
import numpy as np
import pandas as pd
import requests

In [3]:
iris_df = pd.read_csv('iris.data', header = None)

print(iris_df)

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
s1 = pd.Series(list('abcde'))
print(s1)
print(type(iris_df), type(s1))

0    a
1    b
2    c
3    d
4    e
dtype: object
<class 'pandas.core.frame.DataFrame'> <class 'pandas.core.series.Series'>

In [5]:
s2 = pd.Series([1,1.0,'a'])
s3 = pd.Series([x for x in range(10,20)])

print(s3[s3>15])

6    16
7    17
8    18
9    19
dtype: int64

In [6]:
print(s3.ndim)
print(s3.dtype)
print(s3.shape)
s3_f = s3.astype(float)
print(s3.dtype)

1
int64
(10,)
int64

In [7]:
s3_np = s3.to_numpy()
print(s3_np, type(s3_np))

[10 11 12 13 14 15 16 17 18 19] <class 'numpy.ndarray'>

In [8]:
print(s3*3)

0    30
1    33
2    36
3    39
4    42
5    45
6    48
7    51
8    54
9    57
dtype: int64

In [9]:
### data frame

s1 = pd.Series([x for x in range(10,20)])
s2 = pd.Series([x for x in range(100,120)])
s3 = pd.Series(list('abcdefghijk'))
df1 = pd.DataFrame({'a': s1, 'b': s2, 'c': s3})
#print(df1)
#print(df1[['a', 'b', 'c']])
#print(df1[2:]['a'])
print(df1[:5])

      a    b  c
0  10.0  100  a
1  11.0  101  b
2  12.0  102  c
3  13.0  103  d
4  14.0  104  e

In [10]:
print(df1.head())
print(df1.tail(10))

      a    b  c
0  10.0  100  a
1  11.0  101  b
2  12.0  102  c
3  13.0  103  d
4  14.0  104  e
     a    b    c
10 NaN  110    k
11 NaN  111  NaN
12 NaN  112  NaN
13 NaN  113  NaN
14 NaN  114  NaN
15 NaN  115  NaN
16 NaN  116  NaN
17 NaN  117  NaN
18 NaN  118  NaN
19 NaN  119  NaN

In [11]:
#print(df1)
#print(df1[3:10][['a', 'c']])
#print(df1.loc[3:10, ['a', 'c']])
print(df1.iloc[3:10, [0, 2]])

      a  c
3  13.0  d
4  14.0  e
5  15.0  f
6  16.0  g
7  17.0  h
8  18.0  i
9  19.0  j

In [12]:
import numpy as np
import pandas as pd

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
irisdf = pd.read_csv(url, header=None)
print(iris_df)

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [13]:
print(iris_df.index)
print(iris_df.columns)
iris_df.columns = list('abcde')
print(iris_df.head())

RangeIndex(start=0, stop=150, step=1)
Int64Index([0, 1, 2, 3, 4], dtype='int64')
     a    b    c    d            e
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [14]:
#새로운 column 생성
#iris_df['x'] = iris_df['a']/iris_df['b']
iris_df.insert(2, 'x2', iris_df['a']/iris_df['b'])

In [15]:
#column 삭제

print(iris_df)
iris_df_d = iris_df.drop('e', axis=1)
print(iris_df_d.head())

       a    b        x2    c    d               e
0    5.1  3.5  1.457143  1.4  0.2     Iris-setosa
1    4.9  3.0  1.633333  1.4  0.2     Iris-setosa
2    4.7  3.2  1.468750  1.3  0.2     Iris-setosa
3    4.6  3.1  1.483871  1.5  0.2     Iris-setosa
4    5.0  3.6  1.388889  1.4  0.2     Iris-setosa
..   ...  ...       ...  ...  ...             ...
145  6.7  3.0  2.233333  5.2  2.3  Iris-virginica
146  6.3  2.5  2.520000  5.0  1.9  Iris-virginica
147  6.5  3.0  2.166667  5.2  2.0  Iris-virginica
148  6.2  3.4  1.823529  5.4  2.3  Iris-virginica
149  5.9  3.0  1.966667  5.1  1.8  Iris-virginica

[150 rows x 6 columns]
     a    b        x2    c    d
0  5.1  3.5  1.457143  1.4  0.2
1  4.9  3.0  1.633333  1.4  0.2
2  4.7  3.2  1.468750  1.3  0.2
3  4.6  3.1  1.483871  1.5  0.2
4  5.0  3.6  1.388889  1.4  0.2

In [16]:
s1 = pd.Series(list('abcde'), index=[x for x in range(5)])
s2 = pd.Series(list('XYZF'), index=[3,2,4,1])
df1 = pd.DataFrame({'a': s1, 'b': s2})
print(df1)

   a    b
0  a  NaN
1  b    F
2  c    Y
3  d    X
4  e    Z

In [17]:
print(df1.isna())

       a      b
0  False   True
1  False  False
2  False  False
3  False  False
4  False  False