In [1]:


import numpy as np
import pandas as pd
import requests

pd_data = pd.read_csv('전국푸드트럭허가구역표준데이터.csv', encoding='cp949')
pd_data.replace(np.NaN, '0')
for i in enumerate(pd_data.columns):
    print(i)

(0, '허가구역명')
(1, '장소유형')
(2, '시도명')
(3, '시군구명')
(4, '소재지도로명주소')
(5, '소재지지번주소')
(6, '위도')
(7, '경도')
(8, '푸드트럭운영대수')
(9, '허가구역사용료')
(10, '허가구역운영시작일자')
(11, '허가구역운영종료일자')
(12, '허가구역휴무일')
(13, '허가구역평일운영시작시각')
(14, '허가구역평일운영종료시각')
(15, '허가구역주말운영시작시각')
(16, '허가구역주말운영종료시각')
(17, '1월운영시작시각')
(18, '1월운영종료시각')
(19, '2월운영시작시각')
(20, '2월운영종료시각')
(21, '3월운영시작시각')
(22, '3월운영종료시각')
(23, '4월운영시작시각')
(24, '4월운영종료시각')
(25, '5월운영시작시각')
(26, '5월운영종료시각')
(27, '6월운영시작시각')
(28, '6월운영종료시각')
(29, '7월운영시작시각')
(30, '7월운영종료시각')
(31, '8월운영시작시각')
(32, '8월운영종료시각')
(33, '9월운영시작시각')
(34, '9월운영종료시각')
(35, '10월운영시작시각')
(36, '10월운영종료시각')
(37, '11월운영시작시각')
(38, '11월운영종료시각')
(39, '12월운영시작시각')
(40, '12월운영종료시각')
(41, '판매제한품목')
(42, '관리기관명')
(43, '관리기관전화번호')
(44, '데이터기준일자')
(45, '제공기관코드')
(46, '제공기관명')

In [14]:
print(pd_data.shape)
num_descr_df = pd_data.describe()
print(num_descr_df.columns)
print(pd_data.columns)

lista= list(pd_data.columns)
for e in list(num_descr_df.columns):
    lista.remove(e)
print(len(pd_data.columns), len(lista))

pd_data[lista].describe()

허가구역명            object
장소유형              int64
시도명              object
시군구명             object
소재지도로명주소         object
소재지지번주소          object
위도              float64
경도              float64
푸드트럭운영대수        float64
허가구역사용료          object
허가구역운영시작일자       object
허가구역운영종료일자       object
허가구역휴무일          object
허가구역평일운영시작시각     object
허가구역평일운영종료시각     object
허가구역주말운영시작시각     object
허가구역주말운영종료시각     object
1월운영시작시각         object
1월운영종료시각         object
2월운영시작시각         object
2월운영종료시각         object
3월운영시작시각         object
3월운영종료시각         object
4월운영시작시각         object
4월운영종료시각         object
5월운영시작시각         object
5월운영종료시각         object
6월운영시작시각         object
6월운영종료시각         object
7월운영시작시각         object
7월운영종료시각         object
8월운영시작시각         object
8월운영종료시각         object
9월운영시작시각         object
9월운영종료시각         object
10월운영시작시각        object
10월운영종료시각        object
11월운영시작시각        object
11월운영종료시각        object
12월운영시작시각        object
12월운영종료시각        object
판매제한품목           object
관리기관명            object
관리기관전화번호         object
데이터기준일자          object
제공기관코드           object
제공기관명            object
dtype: object
Index(['장소유형', '위도', '경도', '푸드트럭운영대수'], dtype='object')
Index(['허가구역명', '장소유형', '시도명', '시군구명', '소재지도로명주소', '소재지지번주소', '위도', '경도',
       '푸드트럭운영대수', '허가구역사용료', '허가구역운영시작일자', '허가구역운영종료일자', '허가구역휴무일',
       '허가구역평일운영시작시각', '허가구역평일운영종료시각', '허가구역주말운영시작시각', '허가구역주말운영종료시각',
       '1월운영시작시각', '1월운영종료시각', '2월운영시작시각', '2월운영종료시각', '3월운영시작시각', '3월운영종료시각',
       '4월운영시작시각', '4월운영종료시각', '5월운영시작시각', '5월운영종료시각', '6월운영시작시각', '6월운영종료시각',
       '7월운영시작시각', '7월운영종료시각', '8월운영시작시각', '8월운영종료시각', '9월운영시작시각', '9월운영종료시각',
       '10월운영시작시각', '10월운영종료시각', '11월운영시작시각', '11월운영종료시각', '12월운영시작시각',
       '12월운영종료시각', '판매제한품목', '관리기관명', '관리기관전화번호', '데이터기준일자', '제공기관코드',
       '제공기관명'],
      dtype='object')
47 43

,허가구역명,시도명,시군구명,소재지도로명주소,소재지지번주소,허가구역사용료,허가구역운영시작일자,허가구역운영종료일자,허가구역휴무일,허가구역평일운영시작시각,...,11월운영시작시각,11월운영종료시각,12월운영시작시각,12월운영종료시각,판매제한품목,관리기관명,관리기관전화번호,데이터기준일자,제공기관코드,제공기관명
count,342,342,342,239,311,342,342,342,342,342,...,126,126,124,124,95,342,342,342,342,342
unique,304,16,103,216,276,123,255,197,58,19,...,13,12,13,12,18,115,132,87,108,108
top,아파트,경기도,흥덕구,충청북도 청주시 흥덕구 옥산면 오송가락로 1056 (청주리버파크자이),충청북도 청주시 흥덕구 송절동 851 청주테크노폴리스푸르지오,0,2021-01-01,2022-12-31,연중무휴,00:00,...,09:00,18:00,09:00,18:00,주류,충청북도 청주시 흥덕구청,043-201-1972,2022-08-18,5710000,충청북도 청주시
freq,10,80,23,5,5,180,10,39,240,113,...,45,28,45,28,58,23,36,36,36,36

In [4]:
#np.unique(pop_df('시도명'))
national_site_count = pd_data.shape[0]
pd_data['시도명'].value_counts()

경기도        80
경상남도       48
충청북도       41
강원도        34
충청남도       24
서울특별시      17
제주특별자치도    17
광주광역시      14
전라남도       13
대구광역시      12
경상북도       11
부산광역시       9
인천광역시       8
전라북도        7
대전광역시       6
울산광역시       1
Name: 시도명, dtype: int64

In [7]:
print(pd_data['시도명'].describe())
print(pd_data['푸드트럭운영대수'].describe())

count     342
unique     16
top       경기도
freq       80
Name: 시도명, dtype: object
count    251.000000
mean       1.768924
std        2.952015
min        0.000000
25%        1.000000
50%        1.000000
75%        1.000000
max       25.000000
Name: 푸드트럭운영대수, dtype: float64

In [29]:
pd_data['푸드트럭운영대수'].sum()

444.0

In [30]:
sub_data = pd_data[['시도명', '푸드트럭운영대수']]
sub_data.groupby('시도명').sum()

         푸드트럭운영대수
시도명
강원도          25.0
경기도         136.0
경상남도         57.0
경상북도         17.0
광주광역시        14.0
대구광역시         4.0
대전광역시        12.0
부산광역시        17.0
서울특별시        35.0
울산광역시         1.0
인천광역시         9.0
전라남도         29.0
전라북도         10.0
제주특별자치도      41.0
충청남도         30.0
충청북도          7.0

In [16]:
x = pd_data['허가구역운영시작일자'].astype(np.datetime64)
print(x.dt.day)

0      30
1       4
2      25
3      21
4      19
       ..
337    17
338    17
339    14
340     1
341     1
Name: 허가구역운영시작일자, Length: 342, dtype: int64

In [17]:
pd_data['허가구역휴무일'].value_counts()

연중무휴                          240
없음                             10
월요일+화요일+수요일+목요일+금요일             7
공휴일                             5
-                               4
토요일+일요일+공휴일                     4
비정기적+우천시휴무                      4
월+화+수+금+토+일                     3
평일                              3
사정에 따라 다름                       3
미지정                             2
미운영                             2
일주일에 한번 자율적 휴무                  2
월+화+수+목                         2
행사종료일                           2
월                               2
동절기(12월~2월)                     2
월+화+수+목+금                       2
토+일                             2
화+수+목+금+토+일                     2
성수기 외 휴무                        2
일요일                             1
1월+2월+12월                       1
무                               1
운영중단                            1
월+화+수+목+금+일                     1
월+수+목+금+토+일                     1
트럭별 상이                          1
화요일+수요일                         1
월요일+화요일+수요일+목요일                 1
운영종료(축제기간 중 한시적 운영)             1
매주 월요일+신정+설날+추석 전일+추석 당일        1
비정기적                            1
월요일                             1
월+화+수+목+토+일                     1
월요일+공휴일                         1
매달 5번째 월요일                      1
토요일,일요일                         1
일요일 ~ 수요일                       1
일요일 휴무                          1
토+일+공휴일                         1
토요일+일요일                         1
월+화+목+금+토+일                     1
첫째 주+셋째 주 제외한 나머지 주             1
5일+10일+15일+20일+25일+30일          1
야구 비시즌                          1
3일+8일+13일+18일+23일+28일           1
2일+7일+12일+17일+22일+27일           1
계약일                             1
일정하지않음                          1
4일+9일+14일+19일+24일+29일           1
미공연 시                           1
비수기+우천시 휴무                      1
주말, 휴일 주로 운영 평일은 행시간 위주 운영      1
1개월 내 3~4일 비정기적 휴무              1
운영종료(행사기간 중 한시적 운영)             1
1월~5월+9월~12월                    1
연중무휴* 휴무시 사전 알림 (행사참여 등)        1
Name: 허가구역휴무일, dtype: int64

In [25]:
x = pd_data['허가구역휴무일'].astype('category')
#print(x)
print(x.cat.codes)
df1 = pd.DataFrame({'label':x, 'code':x.cat.codes})
df1.sort_values(['codes', 'label'], ascending=False)

0      51
1      54
2      54
3      36
4      48
       ..
337    23
338    23
339    23
340    23
341    23
Length: 342, dtype: int8

KeyError: 'codes'

In [27]:
sub_data = pd_data[['시도명', '푸드트럭운영대수']]
g1 = sub_data.groupby('시도명')
g1.sum()
g1.count()
g1.std()
g1.describe()
g1.aggregate([np.sum, np.mean, np.std])
g1.aggregate(lambda x: np.sum(x)*100)
g1.apply(lambda x: np.sum(x)*100)

        푸드트럭운영대수
             sum      mean       std
시도명
강원도         25.0  1.136364  0.467563
경기도        136.0  1.863014  3.367801
경상남도        57.0  1.212766  0.832392
경상북도        17.0  1.545455  1.809068
광주광역시       14.0  2.000000  3.559026
대구광역시        4.0  0.800000  0.836660
대전광역시       12.0  4.000000  0.000000
부산광역시       17.0  1.888889  1.964971
서울특별시       35.0  2.058824  3.171565
울산광역시        1.0  1.000000       NaN
인천광역시        9.0  1.800000  1.303840
전라남도        29.0  2.900000  7.795298
전라북도        10.0  2.000000  2.236068
제주특별자치도     41.0  2.411765  4.359742
충청남도        30.0  2.307692  2.428464
충청북도         7.0  1.166667  0.408248