In [2]:
import numpy as np

In [4]:
a1 = np.array([1, 2, 3, 4, 5])
print([1, 2, 3, 4, 5])
print(a1)
print(type(a1))

[1, 2, 3, 4, 5]
[1 2 3 4 5]
<class 'numpy.ndarray'>

In [16]:
a2 = np.arange(10)
print(a2)
print(type(a2))

# arange도 start stop step도 가능하다
a3 = np.arange(0, 100, 3)
print(a3)

# 1부터 10아래 0.5씩 증가, step=0.5
a4 = np.arange(1.1, 10, 0.5)
print(a4)

# range는 실수 불가
lista = [i for i in range(1.3, 10, 0.5)]

[0 1 2 3 4 5 6 7 8 9]
<class 'numpy.ndarray'>
[ 0  3  6  9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69
 72 75 78 81 84 87 90 93 96 99]
[1.1 1.6 2.1 2.6 3.1 3.6 4.1 4.6 5.1 5.6 6.1 6.6 7.1 7.6 8.1 8.6 9.1 9.6]

TypeError: 'float' object cannot be interpreted as an integer

In [22]:
# linspace는 start stop의 범위안에 원하는 개수의 숫자를 뽑아준다.
a4 = np.linspace(0, 10, 15)
print(a4)

[ 0  0  1  2  2  3  4  5  5  6  7  7  8  9 10]

In [24]:
# 데이터 타입을 변환 가능하다. (dtype = np.int64, astype)

a5 = np.zeros(5)
print(a5)

a6 = np.ones(5, dtype = np.int64)
print(a6)
a6.astype(np.float64)

[0. 0. 0. 0. 0.]
[1 1 1 1 1]

array([1., 1., 1., 1., 1.])

In [26]:
lista = [1, 2, 3.5, 4.2]
a7 = np.array(lista)
print(a7)

listb = [1, 2, 'abc', 'def']
a8 = np.array(listb)
print(a8)

[1.  2.  3.5 4.2]
['1' '2' 'abc' 'def']

In [31]:
# ndim으로 데이터 배열의 차원도 알 수 있다.
# shape은 튜플형태로 결과를 반환해 준다.
print(a7.dtype)
print(a7.ndim)
print(a7.shape)
print(a7.size)

print(a7.itemsize)
print(a7.data)

float64
1
(4,)
4
8
<memory at 0x0000023138B50AC0>

In [35]:
a10 = np.arange(10, 100, 5)
print(a10)
#특정인덱스
print(a10[0])
#스타트, 스탑
print(a10[3:])
#스타트, 스탑, 스텝
print(a10[1:7:2])

[10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95]
10
[25 30 35 40 45 50 55 60 65 70 75 80 85 90 95]
[15 25 35]

In [37]:
# [[index]]로 원하는 index값을 가져올 수 있다. python list에서는 지원하지 않는 기능
a10 = np.arange(10, 100, 5)
print(a10)
print(a10[[1,3,7]])

[10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95]
[15 25 45]

In [42]:
a10 = np.arange(10, 100, 5)
print(a10)
print(a10[a10%10 == 5])

x = (a10%10 == 5)
print(x)
print(x.shape)
print(a10.shape)
print(a10[x])

[10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95]
[15 25 35 45 55 65 75 85 95]
[False  True False  True False  True False  True False  True False  True
 False  True False  True False  True]
(18,)
(18,)
[15 25 35 45 55 65 75 85 95]

In [51]:
lista = [x for x in range(3)]
listb = [x for x in range(10, 15)]
lista + listb

[ 0  1  2 10 11 12 13 14]

In [55]:
a1 = np.arange(5)
a2 = np.arange(10, 15)
print('add :', a1 + a2)
print(   np.concatenate((a1,a2)))
print('sub :', a1 - a2)
print('mul :', a1*a2)
print('div :', a1/a2)

add : [10 12 14 16 18]
[ 0  1  2  3  4 10 11 12 13 14]
sub : [-10 -10 -10 -10 -10]
mul : [ 0 11 24 39 56]
div : [0.         0.09090909 0.16666667 0.23076923 0.28571429]