In [37]:

import numpy as np
import pandas as pd
import requests

pop_df = pd.read_csv('등록인구추이_20230223163325.csv', encoding='cp949')

pop_df.drop(0, axis=0, inplace=True)
#print(pop_df.head())
# #print(pop_df[:0])
pop_df.drop('세대수 (세대)', axis=1, inplace=True)
#print(pop_df.head())

pop_df.columns = ['시점', '세대수', '인구_남', '인구_여', '한국인', '외국인', '인구밀도']
pop_df.head()

     시점      세대수     인구_남     인구_여      한국인    외국인    인구밀도
1  2018  3494019  1721327  1772692  3441453  52566  769.94
2  2019  3466563  1704098  1762465  3413841  52722  770.07
3  2020  3438710  1686412  1752298  3391946  46764  770.07

In [38]:
#pop_df['인구_남']
#pop_df.loc[:, '인구_남']
#pop_df.iloc[:, 2]
v = pop_df['인구_남'].astype(np.float64) / pop_df['인구_여'].astype(np.float64)
pop_df.insert(4, '인구_남/여', v)

In [41]:
v = pop_df['한국인'].astype(np.float64) / pop_df['외국인'].astype(np.float64)
pop_df.insert(7, '한국인/외국인', v)

In [42]:
pop_df

,시점,세대수,인구_남,인구_여,인구_남/여,한국인,외국인,한국인/외국인,인구밀도
1,2018,3494019,1721327,1772692,0.971024,3441453,52566,65.469182,769.94
2,2019,3466563,1704098,1762465,0.966883,3413841,52722,64.751736,770.07
3,2020,3438710,1686412,1752298,0.962400,3391946,46764,72.533273,770.07

In [45]:
pop_df.dtypes

시점          object
세대수         object
인구_남        object
인구_여        object
인구_남/여     float64
한국인         object
외국인         object
한국인/외국인    float64
인구밀도        object
dtype: object

In [44]:
pop_np = pop_df.to_numpy().astype(np.float64)
print(pop_np[:, 2]/pop_np[:, 3])
print(pop_np[:, 4]/pop_np[:, 5])

[0.9710243  0.96688331 0.96240023]
[2.82155327e-07 2.83224472e-07 2.83731000e-07]